.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
    padding: 10px;
}

.header .container {
  width: 100%;
  display: inline-block;
}

.title {
  font-size: xx-large;
  margin: auto;
  float: left;
}

.no-link {
  text-decoration:none;
  color:inherit;
}

.search {
  float: right;
}

.search input[type='text']{
  width: 400px;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.search input[type="text"]:focus,
.search input[type="text"].focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

.content_box {
  border:1px solid #CCC;
  width:960px;
  margin:10px auto;
  padding: 10px;
  min-height: 500px;
}

.footer {
  border:1px solid #CCC;
  background:#F0F0F0;
  width:960px;
  margin:0px auto;
  padding: 10px;
  text-align: center;
}

.img {
  width: 150px;
  height: 150px;
  //display: inline-block;
}

.item{
  cursor: pointer;
  margin: 5px 5px;
  display: inline-block;
  width:150px;
  height:150px;
  background-size:150px 150px;
  background-position:0px 0px;
  transition:all 0.5s ;
}

.item:hover {
    background-size:250px 250px;
    background-position:-50px -50px;
    opacity: 0.7;
}

.artist {
  float: left;
  margin: 5px 20px 20px 5px;
}

.artistname {
  font-size: 40px;
  font-weight: 900;
}

.artistSummary {
  max-height: 250px;
  overflow: auto;
}

.artistInfo {
  display: inline-block;
}

.btn {
  font-family: Arial;
  color: #050505;
  font-size: 12px;
  padding: 10px;
  border-bottom: solid #969696 2px;
  outline: none;
}

.btn:hover {
  background: #d6d6d6;
  text-decoration: none;
}

.loader {
  border: 16px solid #F0F0F0;
  border-radius: 50%;
  border-top: 16px solid silver;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pagination {
  text-align: center;
}

#pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;
    border-top: 1px solid #AEAEAE;
    border-bottom: 1px solid #FFFFFF;
    background-color: #DADADA;
}
#pagination a{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    color: #7D7D7D;
    text-align: center;
    font-size: 16px;
    padding: 3px 0 2px 0;
    user-select:none;

    margin: 0 2px 0 2px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    text-shadow: 0 1px 1px #FFF;
    background-color: #E6E6E6;
}

#pagination a.current {
    border: 1px solid #E9E9E9;
    box-shadow: 0 1px 1px #999;
    background-color: #bababa;
}
